@import url(http://fonts.googleapis.com/css?family=Montserrat|Raleway:400,700&subset=latin,latin-ext);
@import "typicons";

$body-copy-font: 'Raleway';
$heading-font: 'Montserrat';
$grid-collapse-below: 550px;
$main-color: #E54C3C;

$z-menu: 500;

@import "qb/all";

//these palceholder classes do nothing, they just serve as reference for stuff done thorugh php
%custom-bg{}
%custom-color{}
%custom-border{}

%button{
	background: $main-color;
	border: none;
	color: #fff;
	font-size: 16px;
	padding: 6px 16px;
	font-family: $heading-font;
	
	&:hover{
		text-decoration: none;
	}
}

.button,
html a.button{
	@extend %button;
}