@import url(http://fonts.googleapis.com/css?family=Exo+2:400,400italic,700,700italic|Montserrat&subset=latin,latin-ext);

$body-copy-font: 'Raleway';
$heading-font: 'Montserrat';
$grid-collapse-below: 500px;

@import "qb/all";