@charset "UTF-8";
@import "signature";
@import "base";

$main-color: #E54C3C;

.page-wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
}

$menu-width: 300px;

.content-wrapper{
	width: 100%;
	height: 100%;
	position: relative;

	@include width-below($grid-collapse-below){
		&.menu-toggle{
			transform: translateX($menu-width);
		}
	}
}

.menu-wrapper{
	position: fixed;
	width: 100%;
	background: $main-color;
	color: #fff;
	@extend .clearfix;
	
	@include width-below($grid-collapse-below){
		width: $menu-width;
		height: 100%;
		position: absolute;
		top: 0;
		left: -$menu-width;
	}
}
.main-menu{
	width: 100%;
	text-align: center;
	font-family: $heading-font;
	
	@include width-below($grid-collapse-below){
		text-align: left;
	}
}
.menu-wrapper ul{
	list-style: none;
}
.menu-wrapper li{
	display: inline-block;
	opacity: .7;
	transition: .2s ease opacity;
	
	&.current-menu-item,
	&:hover{
		opacity: 1;
	}
	
	@include width-below($grid-collapse-below){
		display: block;
	}
}
.menu-wrapper a{
	display: inline-block;
	color: #fff;
	padding: 8px 10px 10px;
	text-decoration: none;
	font-size: 20px;
	
	@include width-below($grid-collapse-below){
		display: block;
	}
}
.menu-wrapper .sub-menu{
	display: none;
	position: absolute;
	background: #fff;
	left: 0;
	right: 0;
	top: 100%;
	
	@include width-below($grid-collapse-below){
		display: block;
		position: static;
		padding-left: 20px;
	}
	
	li{
		opacity: 1;
	}
	
	a{
		color: $main-color;
	}
}
.menu-wrapper .top-level-menu > li:hover .sub-menu{
	display: block;
}

.menu-wrapper .search-wrapper,
.menu-wrapper .social-menu{
	position: absolute;
	top: 0;
	bottom: 0;
	
	@include width-below($grid-collapse-below){
		position: static;
	}
}
.menu-wrapper .search-wrapper{
	left: 0;
	width: 20%;
	max-width: 250px;
	display: flex;
	align-items: center;
	
	&.active{
		background: #fff;
	}
}
.search-wrapper .search-form{
	display: none;
}
.search-wrapper .submit-btn{
	display: none;
}
.search-wrapper .form-toggle{
	border: none;
	background: none;
	color: #fff;
	font-size: 20px;
}

.menu-wrapper .social-menu{
	right: 0;
}
.menu-wrapper .social-menu .typcn:before{
	font-size: 26px;
}

.content{
	padding-top: 40px;
	
	@include width-below($grid-collapse-below){
		padding-top: 0;
	}
}

.hero-image{
	width: 100%;
	height: 300px;
	background: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-text{
	background: #333;
	color: #fff;
	padding: 6px 14px;
}

.content .wrapper{
	width: 600px;
	margin: 0 auto;
}

.posts{
	list-style: none;
	padding: 10px 0;
}
.posts .post{
	margin-bottom: 40px;
}

@import "modules/search";
@import "modules/post";