.masonry-wrapper{
	background: #f1f1f1;
}
.masonry .brick{
	background: #fff;
	margin-bottom: 30px;
	padding: 10px;
	transition: .4s background ease-out,
				.2s color ease-out;
	
	@include width-above(999px){
		width: 30%;
	}
	@include width-below(999px){
		width: 45%;
	}
	@include width-below($grid-collapse-below){
		width: 100%;
	}
	
	img,
	.post-video{
		height: auto;
		transition: .4s opacity ease-out;
	}
	
	.post{
		margin-bottom: 0;
	}
	
	.post-header{
		border-bottom: none;
		margin-bottom: 0;
	}
	.post-header-title,
	.post-header-title:before{
		font-size: 22px;
		line-height: 1.1;
		transition: .4s color ease-out;
	}
	
	.post-quote .post-header-title blockquote{
		display:inline;
	}
	
	.post-footer{
		font-size:14px;
	}
	
	&:hover{
		img,
		.post-video{
			opacity:.5;
		}
	}
}
.masonry .brick-link{
	text-decoration: none;
	color: inherit;
	position: relative;
	display: block;
	
	&:before{
		content: attr(title);
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(.1);
		backface-visibility: hidden;
		font-size: 18px;
		line-height: 1;
		padding: 12px 8px;
		text-align: center;
		transition: .2s all ease-out;
		z-index: 10;
	}
}
.masonry .brick:hover{
	
	color:transparent;
	
	.post-content,
	.post-header-title,
	.post-header-title:before,
	.masonry-footer{
		color: transparent;
	}
	
	img,
	iframe{
		filter: blur(2px);
	}
	
	.brick-link:before{
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

.masonry-footer{
	color: #989898;
	transition: .4s color ease-out;
	padding-bottom: 4px;
	@extend %custom-border;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	
	.read-more{
		float: right;
		text-decoration: none;
		
		&:hover{
			text-decoration: underline;
		}
	}
}