.masonry-wrapper{
	background: #f1f1f1;
}
.masonry .brick{
	background: #fff;
	margin-bottom: 30px;
	padding: 10px;
	
	@include width-above(999px){
		width: 30%;
	}
	@include width-below(999px){
		width: 45%;
	}
	@include width-below($grid-collapse-below){
		width: 100%;
	}
	
	img{
		height: auto;
	}
	
	.post{
		margin-bottom: 0;
	}
	
	.post-header{
		border-bottom: none;
		margin-bottom: 0;
	}
	.post-header-title, .post-header-title a{
		font-size: 28px;
		line-height: 1.1;
	}
}
.masonry-footer{
	color: #989898;
	padding-bottom: 4px;
	@extend %custom-border;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

//.masonry {
//	
//	&.posts .post{
//		margin-bottom:10px;
//		
//		.post-header-title, .post-header-title a{
//			font-size: 26px;
//		}
//		
//	}
//
//	.brick{
//		width: 30%;
//		background: #fff;
//		margin-bottom: 30px;
//		padding: 10px;
//		
//		@include transition(all, 0.4s, ease-in);
//		
//		img{
//			height: auto;
//		}
//		
//		&:hover{
//			img,
//			.post-header-title,
//			.post-header-title a,
//			.post-header-meta,
//			.post-header-meta a,
//			.post-content p
//			{
//				@include opacity(0.6);
//				
//			}
//			
//			.post-content p{
//				margin-bottom: 45px;
//			}
//			
//			.button{
//				position: absolute;
//				top:50%;
//				right:30%;
//			}
//			
//		}
//		
//		
//	}
//}