.masonry-wrapper{
	background: #f1f1f1;
}
.masonry .brick{
	background: #fff;
	margin-bottom: 30px;
	padding: 10px;
	
	@include width-above(999px){
		width: 30%;
	}
	@include width-below(999px){
		width: 45%;
	}
	@include width-below($grid-collapse-below){
		width: 100%;
	}
	
	img{
		height: auto;
	}
	
	.post{
		margin-bottom: 0;
	}
	
	.post-header{
		border-bottom: none;
		margin-bottom: 0;
	}
	.post-header-title{
		font-size: 28px;
		line-height: 1.1;
	}
}
.masonry .brick-link{
	text-decoration: none;
	color: inherit;
	position: relative;
	display: block;
	
	&:before{
		content: attr(title);
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 22px;
		line-height: 1;
		padding: 12px 8px;
		text-align: center;
	}
}
.masonry .brick:hover .brick-link:before{
	display: block;
}
.masonry-footer{
	color: #989898;
	padding-bottom: 4px;
	@extend %custom-border;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	
	.read-more{
		float: right;
		text-decoration: none;
		
		&:hover{
			text-decoration: underline;
		}
	}
}