.widget{
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #f1f1f1;
	
	ul,
	ol{
		list-style: none;
	}
	a{
		@extend %custom-color;
		text-decoration: none;
	}
	table{
		width: 100%;
	}
	td{
		text-align: center;
	}
}
.widget > h3{
	font-size: 20px;
	margin-bottom: 10px;
	
	@extend .typcn;
	&:before{
		@extend %custom-color;
		margin-right: 5px;
	}
}

.widget_recent_entries h3{
	@extend .typcn-folder-open;
}

.widget_search{
	background: #F1F1F1;
	position: relative;
	padding: 8px 0;
	
	h3{
		@extend .typcn-folder-zoom;
		padding-left: 15%;
	}
	
	.search-field{
		width: 70%;
	}
	.reset-btn{
		right: 15%;
	}
	.submit-btn{
		width: 40px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		
		&:before{
			font-size: 24px;
		}
	}
}

.widget_tag_cloud h3,
.widget_categories h3{
	@extend .typcn-tags;
}

.widget_recent_entries h3{
	@extend .typcn-folder-open;
}

.widget_archive h3{
	@extend .typcn-archive;
}

.widget_pages h3{
	@extend .typcn-document;
}

.widget_meta h3{
	@extend .typcn-link;
}

.widget_nav_menu h3{
	@extend .typcn-th-list;
}

.widget_tag_cloud a{
	display: inline-block;
	color: #B2B2B2;
	background: #F1F1F1;
	padding: 2px 8px;
	margin: 4px 0;
	
	&:hover{
		color: darken(#B2B2B2, 10);
		background: darken(#F1F1F1, 5);
	}
}

.widget_calendar{
	h3{
		@extend .typcn-calender;
	}
	
	caption{
		font-family: $heading-font;
		font-size: 16px;
		margin-bottom: 5px;
	}
	
	th{
		font-weight: 400;
		color: #B2B2B2;
	}
	
	#next a,
	#prev a{
		display: inline-block;
		margin-top: 10px;
		@extend %button;
	}
}

.widget_recent_comments{
	h3{
		@extend .typcn-messages;
	}
	
	li{
		padding-bottom: 5px;
		margin-bottom: 10px;
		border-bottom: 1px solid #f1f1f1;
	}
}